body{
	padding: 1%;
	font-family: 'Libre Franklin', sans-serif;
}
	/* Header 
							*/
.fullrow {
	display: block;
	background-color: #E05151;
	height: 90px;
}

.logocontainer {
	position: relative;
	width: 50%;
	float: left;
}

.headline {
	position: relative;
	float: right;
	width: 50%;
}

.headline p {
	margin-top: 34px;
	color: white;
	text-align: right;
	padding-right: 20px;
}

.logo {
	margin: 14px;
}

	/* Navigation- Bar 
							*/
nav {
	position: relative;
	width: 100%;
	float: left;
	background-color: #868686;
}

.topnav {
	list-style: none;
	margin-left: -12px;
}

.topnav li {
	display: inline-block;
}

.topnav a {
	padding: 15px 15px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

.topnav a:hover {
	text-decoration: overline;
	background-color: #E05151;
}

	/* Content/ Main Page 
							*/
.content {
	position: relative;
	width: 49%;
	float: left;
	margin-top: 22px;
}

.content p {
	font-size: 22px;
	margin-top: 0px;
}

.content img {
	width: 100%;
}

.content.rechts {
	float: right;
}

	/* Contact Informations
							*/
.exfooter {
	position: relative;
	width: 100%;
	float: left;
	margin-top: 12px;
	background-color: #E05151;
}

.exfooter p {
	text-align: center;
	color: white;
	font-weight: bold;
}

	/* Responsive Part
							*/
@media screen and (max-width: 800px) {
	.content p {
		font-size: 19px;
	}
}